*, *:after, *:before {
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}

html, body, .container{
  height: 100%;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery{
  position: relative;
  display: flex;
  width: 1000px;
  height: 450px;
  background: black;
  border; 2px solid black;
  border-radius: 10px;
  overflow: hidden;
}

.caption-content {
  background: rgba(0,0,0,0.6);
  width: 800px;
  height: 100px;
  position: absolute;
  bottom: -100px;
  -moz-transition: all 0.3s ease 0s;
  -web-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;

}

.main-image-content:hover .caption-content {bottom:0px}

.caption{
  font-size: 42px;
  color: white;
  padding:10px;
}

.info{
  padding: 0 10px;
}

.thumbnails img {
  margin-left: 20px;
  padding-top: 1px;
  opacity: 0.6;
  cursor: pointer;

-moz-transition: opacity 0.3s ease 0s;
-web-transition: opacity 0.3s ease 0s;
transition: opacity 0.3s ease 0s;

}

.thumbnails img:hover{
  opacity: 1;
}
