*, *:after, *:before {
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}

html, body, .container{
  height: 100%;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery{
  display: flex;
  width: 1000px;
  height: 450px;
  background: black;
  border; 2px solid black;
  border-radius: 10px;
}
